<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}"
>
    <head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Cadastrar uma nova farmácia')"></head>
    <div layout:fragment="content">
        <div class="mt-5 w-100" >
            <th:block th:insert="components/alerts :: alerts"></th:block>
            <form class="mt-3" th:action="@{/farmacias/cadastro}" th:object="${farmacia}" method="POST">
                <div class="accordion" id="cf-form">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-one-f-form">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cf-form-one"
                                    aria-expanded="true"
                                    aria-controls="cf-form-one">
                                Dados da farmácia
                            </button>
                        </h2>
                        <div id="cf-form-one" class="accordion-collapse collapse show" aria-labelledby="heading-one-f-form" data-bs-parent="#heading-one-f-form">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating py-1">
                                            <input id="nome-farmacia" th:field="*{nome}"
                                                   class="form-control"
                                                   type="text"
                                                   placeholder="Nome da farmácia" />
                                            <label for="nome-farmacia">Nome da farmácia</label>
                                            <span th:if="${#fields.hasErrors('nome')}" style="font-size: 0.8rem"
                                                  th:errors="*{nome}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating py-1">
                                                        <textarea class="form-control" th:field="*{bio}"
                                                                  id="bio-farmacia"
                                                                  maxlength="1024"
                                                                  rows="3"></textarea>
                                            <label for="bio-farmacia">Biografia ou descrição da farmácia</label>
                                            <span th:if="${#fields.hasErrors('bio')}" style="font-size: 0.8rem" th:errors="*{bio}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="cp-form">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-one-p-form">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cp-form-one"
                                    aria-expanded="true"
                                    aria-controls="cp-form-one">
                                Dados do paciente
                            </button>
                        </h2>
                        <div id="cp-form-one" class="accordion-collapse collapse show"
                             aria-labelledby="heading-one-p-form" data-bs-parent="#heading-one-p-form">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" v-model="usarDadosUsuarioPaciente" role="switch" id="usarInfoUsuarioCheckbox">
                                            <label class="form-check-label" for="usarInfoUsuarioCheckbox">Eu sou o paciente desta farmácia</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating py-1">
                                            <input class="form-control" type="text" id="nome-paciente" v-model="nomeUser"
                                                   th:field="*{paciente.nome}" placeholder="Nome do paciente" :readonly="usarDadosUsuarioPaciente" />
                                            <label for="nome-paciente">Nome do paciente</label>
                                            <span th:if="${#fields.hasErrors('paciente.nome')}" style="font-size: 0.8rem"
                                                  th:errors="*{paciente.nome}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating py-1">
                                            <input id="nascimento-paciente" v-model="dtNasctoUser"
                                                   th:field="*{paciente.dataNascimento}" type="date" class="form-control" :readonly="usarDadosUsuarioPaciente" />
                                            <label for="nascimento-paciente">Data de nascimento:</label>
                                            <span th:if="${#fields.hasErrors('paciente.dataNascimento')}" style="font-size: 0.8rem"
                                                  th:errors="*{paciente.dataNascimento}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-floating py-1">
                                            <textarea class="form-control" th:field="*{paciente.descTratamento}" id="desc-tratamento" rows="6"></textarea>
                                            <label for="desc-tratamento">O que o paciente está tratando?</label>
                                            <span style="font-size: 0.8rem" th:if="${#fields.hasErrors('paciente.descTratamento')}"
                                                  th:errors="*{paciente.descTratamento}" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <div class="row w-100">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="module" th:inline="javascript" layout:fragment="vue-app">
        import { createApp, ref, watch } from '/webjars/vue/dist/vue.esm-browser.prod.js';

        const serverData = {
            user: /*[[${user}]]*/ null
        }

        const app = createApp({
            setup(){

                const usarDadosUsuarioPaciente = ref(false);
                const nomeUser = ref('');
                const dtNasctoUser = ref('');

                watch(usarDadosUsuarioPaciente, (usarDados) => {
                    if(usarDados){
                        nomeUser.value = user?.username || '';
                        dtNasctoUser.value = user?.dataNascimento || '';
                    }
                });

                return {
                    usarDadosUsuarioPaciente,
                    nomeUser,
                    dtNasctoUser
                }
            }
        });

        app.mount('#app');
    </script>
</html>


