<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}"
>
    <head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Lista das farmácias cadastradas')"></head>
    <div  layout:fragment="content">

        <div class="w-100 mt-5" th:if="${farmacias != null and !farmacias.isEmpty()}">
            <th:block th:if="${farmacias.size > 0}" th:insert="components/toolbar :: lightToolbar(~{::#toolbar-farmacias})">
                <div class="w-100" id="toolbar-farmacias" th:fragment="toolbarFarmacias">
                    <div class="row">
                        <div class="col-3">
                            <a th:href="@{/farmacias/cadastro}" class="btn btn-sm btn-outline-primary w-100">Nova farmácia</a>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="mt-2" th:each="farmacia : ${farmacias}">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <span th:text="${farmacia.nome}"></span>
                            </div>
                            <div class="card-body">
                                <p>Paciente: <span th:text="${farmacia.paciente.nome} + ' ' + ${farmacia.paciente.sobrenome}" ></span></p>
                                <p th:text="${farmacia.bio}"></p>
                            </div>
                            <div class="card-footer">
                                <div class="row d-flex w-100 justify-content-end">
                                    <div class="col-4">
                                        <a th:href="@{'/remedios/i/{farmacia_id}'(farmacia_id=${farmacia.id})}" class="btn btn-primary w-100">Remédios</a>
                                    </div>
                                    <div class="col-4">
                                        <a th:href="@{'/pacientes/{id}'(id=${farmacia.paciente.id})}" class="btn btn-primary w-100">Paciente</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${farmacias != null and !farmacias.isEmpty()}">
            <div class="mt-5 w-100">
                <div class="card">
                    <div class="card-header">
                        Nenhuma farmácia cadastrada
                    </div>
                    <div class="card-body">
                        <p class="card-text">Para cadastrar uma farmácia, clique no botão logo abaixo.</p>
                        <a th:href="@{/farmacias/cadastro}" class="btn btn-primary">Cadastrar farmácia</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>


