<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/bootstrap :: bootstrap"></head>
<head th:insert="fragments/css :: styles"></head>
<head th:insert="fragments/title :: title(title = 'Farmacinha - Lista de farmácias')"></head>
<body>
    <header th:insert="fragments/navheader :: navheader">
    </header>
    <main>
        <div class="container-fluid">
            <div class="d-flex justify-content-center">
                <div class="main-container">
                    <div th:if="${farmacias != null and !farmacias.isEmpty()}">
                        <div class="mt-5">
                            <div class="container">
                                <div th:each="farmacia : ${farmacias}">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <p th:text="${farmacia.nome}"></p>
                                                </div>
                                                <div class="card-body">
                                                    <p>Paciente: <span th:text="${farmacia.paciente.nome}"></span></p>
                                                    <p th:text="${farmacia.bio}"></p>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="row d-flex justify-content-end">
                                                        <div class="col-3" style="margin-right: 0.25rem">
                                                            <a th:href="@{'/remedios/i/{farmacia_id}'(farmacia_id=${farmacia.id})}" class="btn btn-primary">Remédios</a>
                                                        </div>
                                                        <div class="col-3">
                                                            <a th:href="@{'/pacientes/{id}'(id=${farmacia.paciente.id})}" class="btn btn-primary">Paciente</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:unless="${farmacias != null and !farmacias.isEmpty()}">
                        <div class="mt-5">
                            <div class="card">
                                <div class="card-header">
                                    Nenhuma farmácia cadastrada
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Para cadastrar uma farmácia, clique no botão logo abaixo.</p>
                                    <a th:href="@{/farmacias/cadastro}" class="btn btn-primary">Cadastrar farmácia</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>