<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}"
>
    <head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Cadastro de remédio')"></head>
    <div layout:fragment="content">
        <div class="mt-5 w-100" >
            <div th:if="${remedio.id != 0}" th:insert="components/toolbar :: lightToolbar(~{::#toolbar-remedios})">
                <div class="w-100" id="toolbar-remedios" th:fragment="toolbarRemedios">
                    <div class="row">
                        <div class="col-3">
                            <a th:href="${'/gramaturas/cadastro/'+remedio.id}" class="btn btn-sm btn-outline-primary w-100">Cadastrar gramatura</a>
                        </div>
                        <div th:if="${not #sets.isEmpty(remedio.gramaturas)}" class="col-3">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#gramaturas-modal" class="btn btn-sm btn-outline-primary w-100">Ver gramaturas</a>
                            <th:block th:insert="components/modal :: simpleModal(toggleId='gramaturas-modal', modalTitle='Gramaturas do medicamento')"></th:block>
                        </div>
                    </div>
                </div>
            </div>
            <form th:object="${remedio}"
                  th:action="${remedio.id == 0 ? '/remedios/cadastro/'+farmaciaId : '/remedios/update/'+remedio.id}"
                  th:method="${remedio.id == 0 ? 'POST' : 'PUT'}">
                <div class="row">
                    <div class="col-12">
                        <div class="form-floating py-1">
                            <input id="nome" th:field="*{nome}"
                                   class="form-control"
                                   type="text"
                                   @keyup="buscarNomesRemedio"
                                   placeholder="Dorflex, Cataflam, etc" />
                            <label for="nome">Nome do remédio</label>
                            <span th:if="${#fields.hasErrors('nome')}" class="text-danger fs-08rem"
                                  th:errors="*{nome}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-floating py-1">
                            <input id="consumo-diario" th:field="*{consumoDiario}"
                                   type="number"
                                   class="form-control"
                                   placeholder="Defina um número para o consumo diário doses"
                            >
                            <label for="consumo-diario">Consumo diário</label>
                            <span th:if="${#fields.hasErrors('consumoDiario')}"
                                  th:errors="*{consumoDiario}" class="text-danger fs-08rem "></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="form-floating py-1">
                            <select id="tipo-remedio" class="form-select" th:field="*{tipoRemedio}">
                                <option value="">Selecione um tipo</option>
                                <option th:each="tpRemedio : ${tiposRemedio}" th:value="${tpRemedio.id}" th:text="${tpRemedio.tipo}"
                                        th:selected="${tpRemedio.id == selectedValue}"></option>
                            </select>
                            <label for="tipo-remedio">Tipo</label>
                            <span th:if="${#fields.hasErrors('tipoRemedio')}"
                                  th:errors="*{tipoRemedio}" class="text-danger fs-08rem "></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-floating py-1">
                            <input id="doses" th:field="*{doses}"
                                   type="number"
                                   class="form-control"
                                   placeholder=""
                            >
                            <label for="doses">Doses (total):</label>
                            <span th:if="${#fields.hasErrors('doses')}"
                                  th:errors="*{doses}" class="text-danger fs-08rem "></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-floating py-1">
                            <input id="data-inicio-tratamento"
                                   th:field="*{dataInicioTratamento}" type="date" class="form-control"/>
                            <label for="data-inicio-tratamento">Início do tratamento:</label>
                            <span th:if="${#fields.hasErrors('dataInicioTratamento')}" style="font-size: 0.8rem"
                                  th:errors="*{dataInicioTratamento}" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="mt-2 d-flex justify-content-center">
                    <div class="row w-100">
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script type="module" th:inline="javascript" layout:fragment="vue-app">
        import { createApp, ref } from '/webjars/vue/dist/vue.esm-browser.prod.js';
        import { debounce } from '/js/reactive.js';

        const serverData = {
            farmacia_id: /*[[${farmaciaId}]]*/ null
        };

        const app = createApp({
            setup(){
                const resultadoNomes = ref([]);
                const farmacia_id = serverData.farmacia_id;

                const buscarNomesRemedio = debounce(async (e) => {
                    const novaBusca = e.target.value;
                    if(novaBusca.length < 3 || farmacia_id === null) return;

                    try {
                        const baseUrl = /*[[@{/api/remedios/{farmacia_id}(farmacia_id=${__${farmacia_id}__})}]]*/ '';
                        const queryUrl = `${baseUrl}?nome=${novaBusca}`;
                        const response = await fetch(queryUrl);
                        if(!response.ok) throw new Error(`Erro HTTP! Status: ${response.status}`);
                        const data = await response.json();
                    } catch (error){
                        console.error('Erro ao buscar informações sobre o nome de remédios', error);
                    }
                }, 400);


                return {
                    resultadoNomes,
                    buscarNomesRemedio
                };
            }
        });
        app.mount('#app');
    </script>
</html>







