
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}">
<head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Listas de farmácias')"></head>
    <div class="mt-5" layout:fragment="content">

        <div th:insert="components/alerts :: vue-alerts"></div>

        <th:block th:if="${remedios.size > 0}" th:insert="components/toolbar :: lightToolbar(~{::#toolbar-catalogo})">
            <div class="w-100 d-flex justify-content-end" id="toolbar-catalogo" th:fragment="toolbarCatalogo">
                <div class="col-3 ">
                    <a th:href="${'/gramaturas/cadastro'}" class="btn btn-sm btn-outline-primary">Cadastrar gramatura</a>
                </div>
                <div class="col-6 d-inline-flex">
                    <input type="search" placeholder="Digite o nome do remédio" v-model="remedioSearch" @keyup="buscarRemedios" class="form-control me-2">
                    <button class="btn btn-sm btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
        </th:block>

        <div v-for="remedio in formattedRemediosList" :key="remedio.id" class="card mt-5">
            <div class="card-header d-inline-flex flex-wrap justify-content-between">
                <div class="d-flex">
                    <a class="d-flex align-items-center" style="cursor:pointer" :href="`/remedios/show/${remedio.id}`">
                        <span class="material-symbols-outlined">medication</span>
                        <span>{{remedio.nome}}</span>
                    </a>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center"
                        :data-bs-target="`#deletar-remedio-${remedio.id}`" data-bs-toggle="modal"
                    >
                        <i class="material-symbols-outlined me-1">delete</i>Deletar
                    </button>

                    <modal-delete
                            :id="`deletar-remedio-${remedio.id}`"
                            :title="`Confirmar exclusão de ${remedio.nome}`"
                            :obj="remedio"
                            @confirmed="handleConfirmDelete"
                    >
                        <template v-slot:body>
                            <p>Deseja mesmo excluir o remédio selecionado?</p>
                        </template>
                    </modal-delete>

                </div>
            </div>
            <div class="card-body">
                <p>Data de início do último tratamento: <span>{{remedio.dtInicioFormatada}}</span></p>
                <p>Alocado na farmácia: <span>{{remedio.farmaciaAlocado}}</span> </p>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <div class="col-3">
                    <a href="#" role="button" class="btn btn-sm btn-outline-primary w-100">Gramaturas</a>
                </div>
                <div v-if="doses < 1" class="col-3">
                    <a href="#" class="btn btn-sm btn-outline-primary w-100">Novo tratamento</a>
                </div>
            </div>
        </div>



    </div>
    <script type="module" th:inline="javascript" layout:fragment="vue-app">
        import { createApp, ref, onMounted, computed } from '/webjars/vue/dist/vue.esm-browser.prod.js';
        import { renderizarData } from '/js/masks.js';
        import { debounce, infiniteScrollHandler } from '/js/reactive.js';
        import { get, del } from '/js/requests.js';
        import { ModalComponent } from '/js/vue/Modal.js';
        import { DangerAlert, SuccessAlert } from '/js/AlertMessage.js';

        const serverData = {
            remedios: /*[[${remedios}]]*/ []
        };

        const app = createApp({
            setup(){

                const alerts = ref([]);
                const remedioSearch = ref('');
                const remediosList = computed(() => {
                    return isSearching.value ? nameSearchState.value.list : pageState.value.list;
                });

                const page = computed(() => { return isSearching.value ? nameSearchState.value.searchPage : pageState.value.statePage; });
                const totalPages = computed(() => { return isSearching.value ? nameSearchState.value.searchTotalPages : pageState.value.stateTotalPages; });
                const isLoading = ref(true);
                const hasMore = computed(() => page.value < totalPages.value - 1);

                const pageState = ref({statePage: serverData.remedios.number, stateTotalPages: serverData.remedios.totalPages, list: serverData.remedios.content});
                const nameSearchState = ref({searchPage: 0, searchTotalPages: 0, list: []});
                const isSearching = ref(false);

                const buscarRemedios = debounce(async () => {
                    if(remedioSearch.value.trim() !== '' && remedioSearch.value.length < 3) return;
                    if(remedioSearch.value.trim() === ''){
                        isSearching.value = false;
                        return;
                    }
                    isSearching.value = true;
                    refreshRemedios(0);
                }, 500);

                const refreshRemedios = async (currPage) => {

                    const requestEnpoint = '/api/remedios/catalogo';
                    const queryParams = new URLSearchParams({nome: remedioSearch.value, page: currPage});

                    try {
                        const url = `${requestEnpoint}?${queryParams.toString()}`;
                        const response = await get(url);

                        isLoading.value = true;

                        if(isSearching.value){
                            const searchList = currPage > 0 ? [...nameSearchState.value.list, ...response.content] : response.content;
                            nameSearchState.value = {searchPage: response.number, searchTotalPages: response.totalPages, list: searchList };
                        } else {
                            pageState.value = {statePage: response.number, stateTotalPages: response.totalPages, list: [...pageState.value.list, ...response.content]};
                        }

                    } catch (error){

                    } finally {
                        isLoading.value = false;
                    }
                };


                const handleConfirmDelete = async (remedio) => {
                    const url = `/api/remedios/${remedio.id}`;
                    try{
                        const response = await del(url);
                        pageState.value.list = pageState.value.list.filter(obj => obj.id !== remedio.id);
                        nameSearchState.value.list = nameSearchState.value.list.filter(obj => obj.id !== remedio.id);
                        alerts.value.push(new SuccessAlert(`O remédio ${remedio.nome} foi deletado com sucesso.`));
                    } catch (error){

                    }
                }

                const scrollHandler = infiniteScrollHandler(refreshRemedios, page, hasMore, isLoading);

                const formattedRemediosList = computed(() => {
                    return remediosList.value.map(remedio => {
                        return {
                            ...remedio,
                            dtInicioFormatada: renderizarData(remedio.dataInicioTratamento)
                        };
                    });
                });

                onMounted(() => {
                    window.addEventListener('scroll', () => { scrollHandler();});
                    isLoading.value = false;
                });


                return {
                    alerts,
                    remedioSearch,
                    remediosList,
                    renderizarData,
                    buscarRemedios,
                    formattedRemediosList,
                    handleConfirmDelete
                };

            }
        });

        app.component('modal-delete', ModalComponent);
        app.mount('#app');

    </script>
</html>