
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}">
<head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Listas de farmácias')"></head>
    <div class="mt-5" layout:fragment="content">

        <th:block th:if="${remedios.size > 0}" th:insert="components/toolbar :: lightToolbar(~{::#toolbar-catalogo})">
            <div class="w-100 d-flex justify-content-end" id="toolbar-catalogo" th:fragment="toolbarCatalogo">
                <div class="col-6 d-inline-flex">
                    <input type="search" placeholder="Digite o nome do remédio" v-model="remedioSearch" @keyup="buscarRemedios" class="form-control me-2">
                    <button class="btn btn-sm btn-outline-success" type="submit">Buscar</button>
                </div>
            </div>
        </th:block>

        <div v-for="remedio in formattedRemediosList" :key="remedio.id" class="card mt-5">
            <div class="card-header d-inline-flex flex-wrap justify-content-between">
                <div class="d-flex">
                    <a class="d-flex align-items-center" style="cursor:pointer" :href="`/remedios/show/${remedio.id}`">
                        <span class="material-symbols-outlined">medication</span>
                        <span>{{remedio.nome}}</span>
                    </a>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-outline-danger d-flex align-items-center"
                        :data-bs-target="`#deletar-remedio-${remedio.id}`" data-bs-toggle="modal"
                    >
                        <i class="material-symbols-outlined me-1">delete</i>Deletar
                    </button>

                    <modal-delete
                            :id="`deletar-remedio-${remedio.id}`"
                            :title="`Confirmar exclusão de ${remedio.nome}`"
                            :obj="remedio"
                            @confirmed="handleConfirmDelete"
                    >
                        <template v-slot:body>
                            <p>Deseja mesmo excluir o remédio selecionado?</p>
                        </template>
                    </modal-delete>

                </div>
            </div>
            <div class="card-body">
                <p>Data de início do último tratamento: <span>{{remedio.dtInicioFormatada}}</span></p>
                <p>Alocado na farmácia: <span>{{remedio.farmaciaAlocado}}</span> </p>
            </div>
            <div class="card-footer d-flex justify-content-end">
                <div class="col-3">
                    <a href="#" role="button" class="btn btn-sm btn-outline-primary w-100">Gramaturas</a>
                </div>
                <div v-if="doses < 1" class="col-3">
                    <a href="#" class="btn btn-sm btn-outline-primary w-100">Novo tratamento</a>
                </div>
            </div>
        </div>



    </div>
    <script type="module" th:inline="javascript" layout:fragment="vue-app">
        import { createApp, ref, onMounted, computed } from '/webjars/vue/dist/vue.esm-browser.prod.js';
        import { renderizarData } from '/js/masks.js';
        import { debounce, infiniteScrollHandler } from '/js/reactive.js';
        import { get, del } from '/js/requests.js';
        import { ModalComponent } from '/js/vue/Modal.js';

        const serverData = {
            remedios: /*[[${remedios}]]*/ []
        };

        const app = createApp({
            setup(){
                const remedioSearch = ref('');
                const remediosList = ref([]);
                const page = ref(0);
                const totalPages = ref(0);
                const isLoading = ref(false);
                const hasMore = computed(() => page.value < totalPages.value - 1);



                const buscarRemedios = debounce(async () => {
                    if(remedioSearch.value !== '' && remedioSearch.value.length < 4) return;
                    refreshRemedios();
                }, 500);

                const refreshRemedios = async (currPage) => {

                    const requestEnpoint = '/api/remedios/catalogo';
                    const queryParams = new URLSearchParams({nome: remedioSearch.value, page: currPage});

                    try {
                        const url = `${requestEnpoint}?${queryParams.toString()}`;
                        const response = await get(url);
                        remediosList.value = [ ...remediosList.value, ...response.content];
                        page.value = response.number;
                        totalPages.value = response.totalPages;

                    } catch (error){

                    }

                };

                const formattedRemediosList = computed(() => {
                    return remediosList.value.map(remedio => {
                        return {
                            ...remedio,
                            dtInicioFormatada: renderizarData(remedio.dataInicioTratamento)
                        };
                    });
                });

                const handleConfirmDelete = async (remedio) => {
                    const url = `/api/remedios/${remedio.id}`;
                    try{
                        const response = await del(url);
                        
                    } catch (error){

                    }
                }

                const scrollHandler = infiniteScrollHandler(refreshRemedios, page, hasMore, isLoading);

                onMounted(() => {
                    remediosList.value = serverData.remedios.content;
                    page.value = serverData.remedios.number;
                    totalPages.value = serverData.remedios.totalPages;

                    window.addEventListener('scroll', scrollHandler);
                });


                return {
                    remedioSearch,
                    remediosList,
                    renderizarData,
                    buscarRemedios,
                    formattedRemediosList,
                    handleConfirmDelete
                };

            }
        });

        app.component('modal-delete', ModalComponent);
        app.mount('#app');

    </script>
</html>