<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap"></head>
<head th:insert="fragments/css :: styles"></head>
<head th:insert="fragments/title :: title(title = 'Farmacinha - Lista de farmácias')"></head>
<body>
    <header th:insert="fragments/navheader :: navheader"></header>
    <main>
        <div class="container-fluid mt-5">
            <div class="d-flex justify-content-center">
                <div class="main-container">
                    <div th:if="${remedios != null and !remedios.isEmpty()}">
                        <div th:each="remedio : ${remedios}">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <p th:text="${remedio.nome}"></p>
                                        </div>
                                        <div class="card-body">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100" th:unless="${remedios != null and !remedios.isEmpty()}">
                        <div class="card">
                            <div class="card-header">
                                Nenhum remédio nesta farmácia
                            </div>
                            <div class="card-body">
                                <p class="card-text">Para cadastrar um remédio, clique no botão logo abaixo.</p>
                                <a th:href="@{'/remedios/cadastro/{farmacia_id}'(farmacia_id=${farmaciaId})}" class="btn btn-primary">Cadastrar remédio</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
</body>
</html>