<div th:fragment="form-data">
    <div class="card">
        <div class="card-header">Informações de cadastro</div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating py-1">
                        <input id="username" th:field="*{username}"
                               class="form-control"
                               type="text"
                               placeholder="" />
                        <label for="username">Nome de usuário</label>
                        <span th:if="${#fields.hasErrors('username')}" class="text-danger fs-08rem"
                              th:errors="*{username}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-floating py-1">
                        <input id="data-nascimento"
                               th:field="*{dataNascimento}" type="date" class="form-control"/>
                        <label for="data-nascimento">Data de nascimento:</label>
                        <span th:if="${#fields.hasErrors('dataNascimento')}" style="font-size: 0.8rem"
                              th:errors="*{dataNascimento}" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-floating py-1">
                        <textarea class="form-control" th:field="*{biografia}" id="biografia-usuario" rows="6"></textarea>
                        <label for="biografia-usuario">Biografia</label>
                        <span style="font-size: 0.8rem" th:if="${#fields.hasErrors('biografia')}"
                              th:errors="*{biografia}" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <div class="col-4">
                <button type="submit" role="button" class="btn btn-primary w-100">Atualizar informações</button>
            </div>
        </div>
    </div>
</div>

<div th:fragment="change-password">
    <div class="card">
        <div class="card-header">Alterar senha de acesso ao app</div>
        <div class="card-body">
            <p>Digite a sua senha atual e a nova senha, seguida de confirmação da mesma, para alterar a sua senha</p>
            <div class="row">
                <div class="col-4">
                    <div class="form-floating py-1">
                        <input id="old-password"
                               class="form-control"
                               type="password"
                               v-model="senhaAtual"
                               placeholder="" />
                        <label for="old-password">Senha atual</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating py-1">
                        <input id="new-password"
                               class="form-control"
                               type="password"
                               v-model="novaSenha"
                               placeholder="" />
                        <label for="new-password">Senha nova</label>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating py-1">
                        <input id="new-password-confirm"
                               class="form-control"
                               type="password"
                               v-model="novaSenhaConfirm"
                               placeholder="" />
                        <label for="new-password-confirm">Confirme a senha nova</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <div class="col-4">
                <button @click="alterarSenha" class="btn btn-sm btn-outline-primary w-100" role="button" type="button">Alterar</button>
            </div>
        </div>
    </div>
</div>