.main-container {
    display: flex;
    width: 95%;
    justify-content: center;
}

.fs-08rem {
    font-size: 0.8rem;
}

.card-md {
    min-width: 22rem;
    max-width: 50rem;
}

@media(max-width: 767px){

    [class*="col-"] {
          width: 100%;
    }
}

@media(min-width: 768px) {
    .main-container {
        width: 80%;
    }
}

@media(min-width: 992px) {
    .main-container {
        width: 62%
    }
}

@media(min-width: 1200px) {
    .main-container {
        width: 50%
    }
}