.main-container {
    display: flex;
    width: 95%;
    justify-content: center;
}

.toolbar {
    border-radius: 2px;
    background-color: #ebf7fd;
}

a {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none !important;
    background-color: transparent;
}

.fs-08rem {
    font-size: 0.8rem;
}

.card-md {
    min-width: 22rem;
    max-width: 50rem;
}

.container-list-spacing {
    margin-bottom: 0;
}

.footer-wrapper {
      display: flex;
      justify-content: center;
      background-color: #333;
      color: #fff;
      padding: 1%;
      text-align: center;
      position: fixed;
      bottom: 0;
      width: 100%;
}

@media(max-width: 767px){

    [class*="col-"] {
        width: 100%;
        padding: 10px;
    }
}

@media(min-width: 768px) {
    .main-container {
        width: 80%;
    }

    .container-list-spacing {
        margin-bottom: 1.5%;
    }
}

@media(min-width: 992px) {
    .main-container {
        width: 62%
    }
}

@media(min-width: 1200px) {
    .main-container {
        width: 50%
    }
}