<div th:fragment="vue-alerts">
    <div v-for="(alert, index) in alerts" :key="index" :class="['alert', 'alert-' + alert.type, 'alert-dismissible fade show', {'fixed-alert': alert.isFixed}, 'alert-sizing']" role="alert">
        <span style="font-size: 0.8rem">{{alert.mensagem}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div th:fragment="vue-alerts(arrName)">
    <div v-for="(alert, index) in {{arrName}}" :key="index" :class="['alert', 'alert-' + alert.type, 'alert-dismissible fade show', {'fixed-alert': alert.isFixed}, 'alert-sizing']" role="alert">
        <span style="font-size: 0.8rem">{{alert.mensagem}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<div th:fragment="alerts">
    <div th:each="alert : ${mensagens}" class="alert alert-dismissible fade show" th:classappend="${'alert-'+alert.type}" role="alert">
        <span style="font-size: 0.8rem" th:text="${alert.mensagem}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
