<div th:fragment="navheader">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Farmacinha</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/usuario/}">Usuário</a>
                    <a class="nav-link" th:href="@{/farmacias/}">Farmácias</a>
                    <a class="nav-link" th:href="@{/remedios/catalogo/}">Catálogo de Remédios</a>
                    <a class="nav-link" th:href="@{/logout}" >Sair</a>
                </div>
            </div>
        </div>
    </nav>
</div>
