<div th:fragment="navheader">
    <nav sec:authorize="isAuthenticated()" class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Farmacinha</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav align-items-end">
                    <hr class="w-100">
                    <a class="nav-link active" aria-current="page" th:href="@{/usuario/}"><span>Minha conta</span></a>
                    <a class="nav-link" th:href="@{/farmacias/}"><span>Minhas farmácias</span></a>
                    <a class="nav-link" th:href="@{/remedios/catalogo/}"><span>Catálogo de remédios</span></a>
                    <div class="d-flex w-25 justify-content-end" >
                        <i id="themeModeIcon" class="material-symbols-outlined me-3">dark_mode</i>
                        <div class="form-check form-switch">
                            <input class="form-check-input" role="switch" type="checkbox" id="darkMode">
                            <label class="form-check-label" for="darkMode"></label>
                        </div>
                    </div>
                    <a class="nav-link" th:href="@{/logout}"><span>Sair</span></a>
                </div>
            </div>
        </div>
    </nav>
</div>
