<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}"
>
<head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Página inicial ')"></head>
<div  layout:fragment="content">
    <div class="container mt-5">
        <div class="card">
            <div class="card-body">
                <p>
                    Olá,
                    <span th:text="${usuario.username}"></span>.
                    <br>
                    Confira as principais informações das suas farmácias:
                </p>
            </div>
        </div>
    </div>
</div>
</html>
