<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/vue-container-layout}"
>
    <head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Página inicial ')"></head>
    <div layout:fragment="content">
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <p>
                        {{cumprimento}},
                        <span th:text="${usuario.username}"></span>.
                        <br>
                    </p>
                    <div v-if="remedios.length > 0">
                        <p>Identificamos alguns remédios que acabarão em breve:
                            <div @click="verFarmacia(remedio.idFarmacia)" class="alert alert-warning" v-for="(remedio, index) in remedios" :key="index">
                                <span>{{remedio.nome}}</span> na farmácia {{remedio.nomeFarmacia}} acabará em {{remedio.dosesRestantes}} dia(s).
                                <br><strong style="cursor: pointer">Ver farmácia</strong>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" th:inline="javascript" layout:fragment="vue-app">
        import { createApp } from '/webjars/vue/dist/vue.esm-browser.prod.js';

        const app = createApp({
            data(){
                return {
                    cumprimento: this.getCumprimento(),
                    remedios: /*[[${remedios}]]*/ []
                };
            },
            methods: {
                getCumprimento(){
                    const now = new Date();
                    const hora = now.getHours();

                    if(hora < 12){
                        return "Bom dia";
                    } else if(hora < 18){
                        return "Boa tarde";
                    } else {
                        return "Boa noite";
                    }
                },
                verFarmacia(farmaciaId){
                    window.location.href = `/remedios/i/${farmaciaId}`;
                }
            }
        });

        app.mount('#app');

    </script>
</html>
