<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap">
</head>
<head th:insert="fragments/css :: login-css"></head>
<head th:insert="fragments/title :: title(title = 'Farmacinha - Seja bem-vindo(a)!')"></head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

    <main class="form-signin w-100 m-auto">


        <form th:action="@{/login}" method="post">
            <h1 class="h3 mb-3 fw-normal">Olá, seja bem-vindo(a)</h1>

            <div th:if="${param.error}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <span style="font-size: 0.8rem">Credenciais inválidas</span>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${infoMsg != null}"  class="alert alert-info alert-dismissible fade show" role="alert">
                <span style="font-size: 0.8rem" th:text="${infoMsg}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div th:if="${infoErr != null}"  class="alert alert-danger alert-dismissible fade show" role="alert">
                <span style="font-size: 0.8rem" th:text="${infoErr}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="usuario@email.com.br" th:value="${emailRegistrado}">
                <label for="floatingInput">E-mail:</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="">
                <label for="floatingPassword">Senha:</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Mantenha-me conectado
                </label>
            </div>

            <div class="mt-1 mb-2">
                <p>Não possui cadastro? <a th:href="@{/register}" href="#">Cadastre-se</a></p>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
            <p class="mt-5 mb-3 text-muted">Coltran© Soluções <span id="ano-atual-footer"></span></p>
        </form>
    </main>
</body>
<script type="module" th:src="@{/js/basics.js}"></script>
</html>