<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments/bootstrap :: bootstrap">
</head>
<head th:insert="fragments/css :: login-css"></head>
<head th:insert="fragments/title :: title(title = 'Farmacinha - Cadastre-se no app!')"></head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        <form th:action="@{/register}" th:object="${userRegDto}" method="post">
            <h1 class="h3 mb-3 fw-normal">Cadastre-se</h1>

            <div th:if="${errors}">
                <div class="alert alert-danger alert-dismissible" role="alert" th:each="error : ${errors}" th:text="${error.defaultMessage}">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="form-floating py-1">
                <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="Digite seu usuário:">
                <label for="floatingUsername">Nome:</label>
                <span th:if="${#fields.hasErrors('username')}" style="font-size: 0.8rem" th:errors="*{username}" class="text-danger"></span>

            </div>
            <div class="form-floating py-1">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="user@email.com.br">
                <label for="floatingInput">E-mail:</label>
                <span th:if="${#fields.hasErrors('email')}" style="font-size: 0.8rem" th:errors="*{email}" class="text-danger"></span>
            </div>
            <div class="form-floating py-1">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="">
                <label for="floatingPassword">Senha:</label>
                <span th:if="${#fields.hasErrors('password')}" style="font-size: 0.8rem" th:errors="*{password}" class="text-danger"></span>
            </div>

            <div class="form-floating py-1">
                <input type="password" class="form-control" id="floatingConfirmPassword" name="passwordConfirm" placeholder="">
                <label for="floatingConfirmPassword">Repita sua senha:</label>
                <span th:if="${#fields.hasErrors('passwordConfirm')}" style="font-size: 0.8rem" th:errors="*{passwordConfirm}" class="text-danger"></span>
            </div>
            <div class="mt-2 mb-2">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Cadastrar</button>
            </div>
            <p class="mt-5 mb-3 text-muted">Coltran© Soluções 2024</p>
        </form>
    </main>
</body>
</html>