<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:replace="fragments/bootstrap :: bootstrap"></head>
<head layout:fragment="custom-css" th:insert="fragments/css :: styles"></head>
<head layout:fragment="custom-css" th:insert="fragments/css :: navheader"></head>
<head layout:fragment="title" th:insert="fragments/title :: title(title = 'Farmacinha - Controle de medicamentos')"></head>
    <body>
        <header th:insert="fragments/navheader :: navheader"></header>
        <main>
            <section>
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <div class="main-container">
                            <div class="w-100" id="app" th:attr="data-csrf-token=${_csrf.token}, data-csrf-header=${_csrf.headerName}">
                                <div layout:fragment="content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <div style="margin-bottom: 5rem"></div>
        <footer>
            <div class="footer-wrapper">
                <p>&copy; <span id="ano-atual-footer"></span>  desgined by Coltran Soluções</p>
            </div>
        </footer>
        <script type="module" th:inline="javascript" layout:fragment="vue-app"></script>
        <script type="module" th:src="@{/js/basics.js}"></script>
    </body>
</html>





