<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head th:replace="fragments/bootstrap :: bootstrap"></head>
<head th:insert="fragments/css :: styles"></head>
<head th:insert="fragments/title :: title(title = 'Farmacinha - cadastro de usuário')"></head>
    <body>
        <header th:insert="fragments/navheader :: navheader"></header>
        <main>
            <section layout:fragment="vue-container-layout">
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <div class="main-container">
                            <div id="app">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>





